@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}
